.main_logo
.main_logo svg
    display block

.main_logo svg
    width 60px
    margin auto
    padding 10px


.st0
    fill #f8931e

.menu_bar
    min-height calc(100vh - 87.42px)

// .menu_item
//     display flex
//     flex-wrap wrap
//     justify-content center
//     padding 20px
//     cursor pointer

// .menu_item:last-child
//     position absolute
//     bottom 0

// .icon_list
//     width 80%
//     height 50px
//     background-color #777

// .text_item
//     text-align center
//     color #FFF
//     font-size 15px

.is_active
    background-color #e37d00