*
    margin 0
    padding 0
    font-family Arial

.parent_layout
    width 100%
    background-color #D8D8D8
    height auto
    display flex
    flex-direction row
  
.layout_menu
    width 110px
    background-color #2E2E2E
    position relative
  
.layout_content
    width calc(100vw - 110px)
    background-color #848484

.view_content
    margin -40px 20px 20px
    padding 25px 0
    border 1px solid #eee
    z-index 1
    background-color #fff
    border-radius 4px
    box-shadow 1px 2px 1px rgba(0,0,0,0.05)
    position relative
