*
  margin 0
  padding 0
 
.main_content
  width 100%
  display flex
  justify-content center
  
.body_content
  font-family 'Arial'
  background-color #000
  position absolute
  top 50%
  transform translateY(-50%)
  border-radius 5px

#login
  background-color #000

.logo_content
  margin-top 20px
  display flex
  justify-content center
  
.frm_register
  background-color #000
  color white
  padding 30px
  border-radius 3px
  
.fieldset_user
.fieldset_password
  width 100%
  border none
  margin-bottom 15px
  
.txt_user
.txt_password
  border-radius 4px
  border 1px solid #A4A4A4
  height 2.0em
  height 30px
  padding 6px 12px
  margin-top 5px
  box-sizing border-box
  display block
  
.btn_login
  background-color #e37d00
  color #fff
  border none
  border-radius 3px
  display block
  margin auto
  padding 8px 60px
  cursor pointer
  
  
  