.menu_item
    padding 20px
    cursor pointer

.link_item
    display flex
    flex-wrap wrap
    justify-content center


.menu_item:last-child
    position absolute
    bottom 0

.icon_list
    width 80%
    height 50px
    background-color #777

.text_item
    text-align center
    color #FFF
    font-size 15px